.commentBox,
.commentList {
  width: 50%;
  margin: 0 auto;
}
body,
html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.background {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 800px;
  top: 60px;
  background-color: #E57373;
}
.background .projector {
  width: 80%;
  position: absolute;
  right: 0;
}
.header {
  text-align: center;
  background-color: white;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
}
.header h1 {
  padding-left: 10vw;
  text-align: left;
  color: #E57373;
  font-weight: 100;
  font-size: 3em;
  margin: 0;
}
.header h1 .film-bold {
  -webkit-text-stroke: 1px black;
  color: #F44336;
  font-weight: 500;
}
.container .splash-content {
  margin-top: 20vh;
  height: 100vh;
}
.container .splash-content #waiting-list {
  position: absolute;
  bottom: 300px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.1em;
}
.container .splash-content #waiting-list h2 {
  font-weight: 200;
  color: white;
  margin-bottom: 8px;
}
.container .splash-content #waiting-list .label-field {
  color: white;
}
.container .splash-content #waiting-list input {
  line-height: 1.8em;
}
.container .splash-content #waiting-list .button {
  line-height: 1.8em;
  background: #B71C1C;
  border-radius: 2px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
  border: none;
}
.container .intro {
  color: white;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
.container .intro .title {
  font-size: 2.5em;
}
.container .intro .subtitle {
  text-align: center;
  padding-top: 20px;
  font-size: 1.5em;
}
.container .main-content h2 {
  padding-top: 60px;
  margin: 0;
  color: black;
  font-weight: 200;
  text-align: center;
}
.container .content-section.good-company {
  height: 300px;
  background: white;
}
.container .content-section.can-help {
  height: 300px;
  background: #FAFAFA;
}
.container .separator {
  height: 40px;
  background: #8FA4AE;
}
/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Larger than mobile */
/* Larger than phablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
/* Larger than Desktop HD */
