@import "./colors.less";
@import 'https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600';
.commentBox,
.commentList {
    width: 50%;
    margin: 0 auto;
}

body, html {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 500;
}

.row,
.header {
	text-align: center;
  background-color: @contrast-color;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
}
body {
  padding-top: 80px;
  background: @main-color;
  height: 200vh;
}

h1 {
  color: white;
  font-weight: 100;
}
.go-bold {
  font-weight: 500;
}

h2 {
  padding-top: 40px;
  color: @main-color;
  width: 40%;
  margin: 0 auto;
  font-weight: lighter;
}

.content {
  margin-top: 60vh;
  background: white;
  width: 100vw;
  height: 600px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  .box-container {
    display: flex;
    margin: 0 auto;
    align-items: center;
    width: 75%;
    max-width: 1000px;
    transform: translateY(-40%);
    justify-content: space-between;

    .info-box {
      background: @highlight-color;
      width: 250px;
      height: 400px;
      padding-top: 32px;
      border-radius: 10px;
      p {
        padding: 18px;
      }
      .circle {
        width: 80px;
        height: 80px;
        border: 2px solid white;
        margin: 0 auto;
        border-radius: 50%;
      }
      h3 {
        font-size: 2em;
        text-align: center;
        width: 100%;
      }
    }
  }

}

.background {
  background: url('../images/icons.svg');
  width: 80vw;
  height: 80vh;
  z-index: -1;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: auto;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
